.name-format {
    margin-top: 10px;
    margin-bottom: 0px;
    /* padding: 1.8%; */
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    /* background-color: rgb(135, 181, 212); */
    color: blueviolet;
    /* display: flex; */
}